<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <connectionStrings>
    <add name="PControlConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=CalcBalance;Integrated Security=true;Application Name=CalcBalance" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
    </parsers>
    <context>
      <resource uri="assembly://PControl.DAL.NHibernate/BIZ.PControl.DAL.NHibernate.Dao/DbContext.xml"/>
      <resource uri="assembly://PControl.DAL.NHibernate/BIZ.PControl.DAL.NHibernate.Dao/DbProviderSqlServer.xml"/>
      <resource uri="assembly://PControl.DAL.NHibernate/BIZ.PControl.DAL.NHibernate.Dao/NHibernateSqlServer.xml"/>
      <resource uri="assembly://PControl.DAL.NHibernate/BIZ.PControl.DAL.NHibernate.Dao.CalcBalance/Dao.xml"/>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <object id="DocumentsManager" type="BIZ.PControl.DomainModel.Services.CalcBalance.DocumentsManager, PControl.DomainModel.Services">
        <property name="BalanceDao" ref="BalanceDao"/>
        <property name="DocumentDao" ref="DocumentDao"/>
      </object>
      <object id="Utils" type="BIZ.PControl.Util.Utils, PControl.Util">
        <property name="_productDao" ref="ProductDao"/>
        <property name="_balanceDao" ref="BalanceDao"/>
      </object>
    </objects>
  </spring>
  <!-- These properties are referenced in Dao.xml -->
  <databaseSettings>
    <add key="db.server" value="localhost\SQLEXPRESS"/>
    <!--<add key="db.user" value="springqa" />
    <add key="db.password" value="springqa" />-->
    <add key="db.database" value="CalcBalance"/>
  </databaseSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
